* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.nav1 {
    background-color: #4a90e2; /* Navbar background color */
    overflow: hidden;
}

.nav1 a {
    float: right;
    text-align: center;
    padding: 10px 20px;
    color: #ffffff; /* Navbar text color */
    text-decoration: none;
    font-size: 17px;
    transition: 0.2s;
}

.nav1 a:hover {
    background-color: #357ab7; /* Navbar hover background color */
    color: #ffcc00; /* Navbar hover text color */
}

.img1 {
    min-height: 50vh;
    background-size: 100% auto;
}

.container {
    width: 80%;
    margin: auto;
}

.al {
    width: 100%;
    margin-block: 50px;
    background-color: #4a90e2; /* Matching navbar background color */
    color: white;
    padding: 20px;
    border-radius: 10px; /* Optional: Rounded corners for the whole div */
}

.al1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Individual element styling */
.al h1, .al h2, .al p {
    color: white; /* Ensure all text inside the div is white */
}

.al h1, .al h2 {
    padding: 10px;
}

.al p {
    padding: 10px;
    border-radius: 5px; /* Optional: Rounded corners for the paragraph */
}
